# App Config
APP_ENV=development
PORT=8080
APP_NAME=pal-property

# Database
DB_HOST=localhost
DB_USER=user
DB_PASSWORD=password
DB_NAME=pal_db
DB_PORT=5432
DB_SSLMODE=disable

# Redis
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=pal-group

# Elasticsearch
ELASTIC_ADDRESS=http://localhost:9200